
.center{
    display: flex;
    justify-content: center;
    padding-top: 32px;
    
}
.text_center{
     display: flex;
    justify-content: center;
}
.slider_center{
        margin-left: 100px;

}
.card{
    width:800px;
    height: 400px;
}
.registation{
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 32px;
   
}
.errorText{

    display: inline-block;
    text-align: center;
    margin-left: 100px ;
 
}
.link{
    margin-left: 135px;
}
.buttonBlock{
    display: flex;
    justify-content: space-between;
}
